body {
    background: #3d3b3b;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}
/*ajustes para dividir a tela na metade */
.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.form-esquerda {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.form-direita {
    background: #c7c7c7;
    border-radius: 10px;
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    margin-left: 25%;
}

.form-container {
    background: #c7c7c7;
    border-radius: 10px;
    padding: 35px;
    max-width: 600px;
    width: 100%;
}

.form-container h2 {
    text-align: center;
}

.form-container h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
}

.form-label {
    font-weight: 500;
    color: #2c2b2b;
}

.form-control {
    padding: 9px;
}

.form-control:focus {
    box-shadow: 0 0 0 2.5px rgba(93, 118, 230, 0.25);
}

.btn-submit {
    background: #626263;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 6px;
    height: 35px;
    width: 100%;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-submit:hover {
    transform: translateY(-1px);
    box-shadow: 0 8px 20px rgba(86, 87, 88, 0.4);
}

.row-cols-2-custom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

@media (max-width: 990px) {
    .form-grid {
        /*unica coluna*/
        grid-template-columns: 1fr;
    }

    .form-direita {
        margin-left: 0;
        width: 100%;
    }
}

@media (max-width: 575px) {
    .row-cols-2-custom {
        grid-template-columns: 1fr;
    }

    .form-container {
        padding: 15px;
    }

    .form-direita {
        padding: 15px;
    }
}